################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/samplerepo/FileContentIndex
/WebApplication1/.vs/WebApplication1/FileContentIndex
